body {
    background-color: rgb(255, 255, 255);
}

.square {
    position: relative;
    border: solid 10px rgb(0, 0, 0);
    width: 300px;
    height: 500px;
    box-sizing: border-box;
}

#Block {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    background: rgb(201, 118, 209);
    transition: 0.1s linear;
}
